table, thead, tbody, tfoot, tr, th, td {
  margin: 0;
  padding: 0;
  border: none;
  border-collapse: inherit;
  border-spacing: 0;
  border-color: inherit;
  vertical-align: inherit;
  font-weight: inherit;
  -webkit-border-horizontal-spacing: 0;
  -webkit-border-vertical-spacing: 0;
}

*, *:before, *:after, input, textarea, button, select {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

input, option, textarea {
  border-radius: 0 !important;
  box-shadow: none !important;
  font-size: inherit;
  font-family: inherit;
}

ul, ol {
  list-style-type: none;
}

a, button, select {
  text-decoration: none;
  cursor: pointer;
}

a {
  color: inherit;
}

input:focus, label:focus, textarea:focus, select:focus, option:focus, button:focus, a:focus {
  outline: none;
}

html {
  -webkit-text-size-adjust: 100%;
}

@font-face {
  font-family: "HelveticaNeue";
  src: url("../fonts/HelveticaNeue.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "HelveticaNeue";
  src: url("../fonts/Helvetica Neu Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "HelveticaNeue";
  src: url("../fonts/HelveticaNeue Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}
html {
  font-family: HelveticaNeue;
  font-size: 15px;
  font-weight: 400;
  font-style: normal;
  background-color: #ffffff;
  color: #ffffff;
}

.container {
  width: 100vw;
  max-width: 67em;
  margin: 0 auto;
  padding: 0 10px;
}

.btn {
  display: inline-block;
  text-align: center;
  border: 1px solid #959595;
  border-radius: 6px;
}

section:nth-child(even) {
  background-color: #f7f8fa;
  border-bottom: 1px solid #ebedf0;
}

section:nth-child(odd) {
  border-bottom: 1px solid #ebedf0;
}

.header {
  position: absolute;
  top: 3em;
  left: 0;
  width: 100%;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav-logo {
  font-size: 1.4em;
  font-weight: 700;
}
.nav-logo:hover, .nav-logo:focus {
  color: #2095bc;
}
.nav-list {
  display: flex;
}
.nav-list li + li {
  margin-left: 1.5em;
}
.nav-list-link:hover, .nav-list-link:focus {
  color: #2095bc;
}

.hero {
  background-color: #000000;
  padding-top: 14em;
  padding-bottom: 8.7em;
}
.hero-title {
  max-width: 50%;
  font-size: 3.2em;
  line-height: 1;
}
.hero-text {
  max-width: 50%;
  margin-top: 2em;
  font-size: 1.2em;
  line-height: 2;
}

.hero-buttons {
  display: flex;
  margin-top: 3em;
}
.hero-buttons li + li {
  margin-left: 0.7em;
}
.hero-buttons-btn {
  min-width: 11.7em;
  padding: 1.1em 2em;
  font-size: 1.1em;
}
.hero-buttons-btn:hover, .hero-buttons-btn:focus {
  background-color: #2095bc;
}

.promotion > .container {
  display: flex;
  align-items: center;
}

.promotion-img {
  margin: -5em 0 3.3em 0;
}
.promotion-list-title {
  font-size: 1.6em;
  line-height: 1.25;
  color: #3e434a;
}
.promotion-list-text {
  margin-top: 1.7em;
  line-height: 1.6;
  color: #7e848e;
}

.features {
  padding: 5.3em 0 5.7em 0;
  text-align: center;
}
.features-title {
  font-size: 2em;
  color: #3e434a;
}
.features-text {
  margin-top: 2em;
  font-size: 1.4em;
  color: #7e848e;
}
.features-list {
  display: flex;
  flex-wrap: wrap;
  margin: 3.3em -0.7em 0 -0.7em;
}
.features-list > li {
  width: 25%;
  padding: 0.7em;
}
.features-card {
  padding: 1.8em;
  border: 1px solid #dfe3ea;
}
.features-card-title {
  margin-top: 2em;
  font-size: 1.2em;
  color: #42474e;
}
.features-card-text {
  margin-top: 1em;
  font-size: 0.9em;
  line-height: 1.7;
  color: #898f98;
}
.features-card-btn {
  margin-top: 1.7em;
  padding: 0.8em 1.2em;
  min-width: 7em;
  font-size: 0.9em;
  color: #898f98;
}
.features-card-btn:hover, .features-card-btn:focus {
  background-color: #2095bc;
  color: #ffffff;
}

.testimonials {
  padding: 4.2em 0 2.7em 0;
  text-align: center;
}
.testimonials-title {
  font-size: 2em;
  color: #3e434a;
}
.testimonials-list {
  display: flex;
  justify-content: space-between;
  margin-top: 4em;
  color: #656b74;
}
.testimonials-list li + li {
  margin-left: 3.7em;
}
.testimonials-card-text {
  padding: 1.4em;
  max-width: 20em;
  font-size: 0.9em;
  line-height: 1.4;
  text-align: left;
  border-radius: 6px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
  background-color: #ffffff;
}
.testimonials-card-person {
  display: flex;
  align-items: center;
  margin-top: 1.7em;
}
.testimonials-card-container {
  width: 3.3em;
  height: 3.3em;
  border-radius: 50%;
  background-color: #d2dce0;
  overflow: hidden;
}
.testimonials-card-container-img {
  width: 3.3em;
  height: 3.3em;
}
.testimonials-card-profession {
  margin-left: 0.7em;
  font-size: 0.8em;
  color: #6e747c;
}
.testimonials-card-name {
  color: #3ba06f;
}
.testimonials-card-name:hover, .testimonials-card-name:focus {
  color: #2095bc;
  text-decoration: underline;
}
.testimonials-radio {
  margin-top: 3em;
}
.testimonials-label {
  display: inline-block;
  width: 1.1em;
  height: 1.1em;
  border: 2px solid #2095bc;
  border-radius: 50%;
  margin-left: 0.2em;
}
.testimonials-label:first-child {
  margin-left: 0;
}
.testimonials-input {
  display: none;
}
.testimonials-input:checked + label {
  background-color: #2095bc;
}

.trial {
  padding: 5.8em 0 5.3em 0;
  text-align: center;
  background-color: #2095bc;
}
.trial-title {
  font-size: 2.4em;
}
.trial-text {
  margin-top: 2em;
  font-size: 1.4em;
  font-weight: 300;
  color: #95cde0;
}
.trial-btn {
  min-width: 11.7em;
  margin-top: 2em;
  padding: 1.1em 2em;
  font-size: 1.1em;
  border-color: #ffffff;
}
.trial-btn:hover, .trial-btn:focus {
  background-color: #ffffff;
  color: #2095bc;
}/*# sourceMappingURL=style.css.map */